<!doctype html>
<head>
<title>Panel de mando</title>
<script src="static/servo.js"></script>
</head>
<body>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

BASE: 
<button onclick="sendServo('base',5)">+5</button>
<button onclick="sendServo('base',-5)">-5</button>

HOMBRO: 
<button onclick="sendServo('hombro',5)">+5</button>
<button onclick="sendServo('hombro',-5)">-5</button>

CODO: 
<button onclick="sendServo('codo',5)">+5</button>
<button onclick="sendServo('codo',-5)">-5</button>

<br/>
PINZA
<button onclick="sendServo('pinza',5)">ABRIR</button>
<button onclick="sendServo('pinza',-5)">-CERRAR</button>

</body>
</html>
